body{
margin:0;
padding:0;
font-family:Arial,sans-serif;
background:#111;
color:white;
text-align:center;
}

header{
background:#b30000;
padding:30px;
}

h1{
color:#ffcc00;
font-size:32px;
}

p{
font-size:18px;
}

section{
padding:20px;
}

div{
background:#1f1f1f;
margin:15px;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px red;
}

a{
display:inline-block;
padding:10px 20px;
background:red;
color:white;
text-decoration:none;
border-radius:5px;
font-weight:bold;
margin-top:10px;
}

a:hover{
background:#ff3300;
}

footer{
background:#000;
padding:20px;
margin-top:30px;
}

@media(max-width:600px){
h1{
font-size:24px;
}
div{
margin:10px;
}
}
